img {
  width: 100%;
}

body {
  background: whitesmoke;
}

.jumbotron {
  background: url('https://i.imgur.com/985pieg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
}

.card {
  margin: 10px;
}
