body {
    background-color: #F8F7FF;
    text-align: center;
}

.cat {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

li {
    list-style-type: none;
}

table, th, td {
    border: 1px solid gray;
}

table {
    margin: 0 auto;
}

.cabbage {
    color: CHARTREUSE;
}