* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 2em;
    justify-content:center;
    margin-top: 10%;
    margin: auto;
    width: 80%;
}
.screen {
    display: flex;
    background-color: #333333;
    border-style: solid;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    text-align: right;
    width: 400px;
}
.button {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    width: 100px;
}


.row1 {
    display: flex;
}
.row2 {
    display: flex;
}
.row3 {
    display: flex;
}
.row4 {
    display: flex;
}
.row5 {
    display: flex;
}
.row6 {
    display: flex;
}


.row-i {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}


.r1 {
    border-style: solid;
    background-color: #202020;
}
.r2 {
    border-style: solid;
    background-color: #202020;
}
.r3 {
    border-style: solid;
    background-color: #0c0c0c;
}
.r4 {
    border-style: solid;
    background-color: #0c0c0c;
}
.r5 {
    border-style: solid;
    background-color: #0c0c0c;
}
.r6 {
    border-style: solid;
    background-color: #0c0c0c;
}
#equals {
    background-color: darkslategray;
}